[submodule "Kitsune/thirdparty/spdlog"]
	path = Kitsune/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "glfw"]
	path = Kitsune/thirdparty/glfw
	url = https://github.com/SnowFoxqwq/glfw---kitsune_specialized
	ignore = dirty
[submodule "Kitsune/thirdparty/imgui"]
	path = Kitsune/thirdparty/imgui
	url = https://github.com/SnowFoxqwq/imgui-kitsune_specialized
	ignore = dirty
