[submodule "Kitsune/thirdparty/spdlog"]
	path = Kitsune/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kitsune/thirdparty/glfw"]
	path = Kitsune/thirdparty/glfw
	url = https://github.com/glfw/glfw
